/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
}
.debug{
  background-color: hwb(25 22% 34% / 0.902);
  border: 1px solid black;
  height: 100%;
}
.d-flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
section{
  justify-content: center;
  margin: 40px 0;

  border: 1px solid black;
}

/*HEADER*/
header{
  height: 80px;
  background-color: #0084FD;
}
header .container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.menu{
  display: none;
}

/*MAIN*/
.row{
  width: 100vw;
}
.col{
  width: 100%;

  height: 200px; /*di debug*/
}
.text{

  min-width: 200px;
  height: 100px;
  background-color: blue;
}
.image{

  min-width: 100px;
  height: 100px;
  background-color: azure;
}
.card{
  width: 100%;

  background-color: #f12020;
  border: 1px solid white;
  min-height: 200px;
}

.text-user, .user{
  height: 200px; /*debug*/
  background-color: yellow;
  border: 1px solid black;
}


/*RESPONSIVE*/
@media screen and (min-width:760px){
  
  .col{
    width: calc(100% / 3);
  }

  .col.big{
    width: calc(100% / 3 * 2);
  }
  .benefict .col{
    width: 50%;
  }
  
}

@media screen and (min-width:1000px){
  .container{
    width: 80%;
  }
  .menu{
    display: block;
  }
  .menu-panino{
    display: none;
  }
  .row{
    width: 100%;
  }
  .col.big{
    display: flex;
  }
  .strategic{
    display: flex;
    justify-content: center;
  }
  .strategic .container,
  .partners{
    display: flex;
  }
  .card{
    width: 50%;
  }

  .benefict .col{
    width: calc(100% / 3)
  }

}