/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.debug{
  background-color: rgba(214, 115, 10, 0.3);
  border: 1px solid black;
  height: 100%;
}
.d-flex{
  display: flex;
}
.align-center{
  align-items: center;
}


/*HEADER*/
header{
  height: 80px;
  background-color: #0084FD;
}
header .container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.menu{
  display: none;
}


/*RESPONSIVE*/

@media screen and (min-width:1000px){
    .container{
      width: 80%;
  }
  .menu{
    display: block;
  }
  .menu-panino{
    display: none;
  }

}